<div >
  <h1 >Regristrate</h1>

  <div >
    <div >
      <form
        action="/users/register"
        method="post"
      
      >
        <div >
          <label for="first_name" >Apellido:</label>
          <input
            type="text"
            class="form-control"
            name="first_name"
            id="first_name"
            required
          />
        </div>
        <div >
          <label for="last_name" >Nombre:</label>
          <input
            type="text"
            class="form-control"
            name="last_name"
            id="last_name"
            required
          />
        </div>
        <div >
          <label for="email" >Email:</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            required
          />
        </div>
        
        <div >
          <label for="password" >Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            required
          />
        </div>
        <div >
          <button
            type="submit"
           
          >Crear Cuenta</button>
        </div>
      </form>
    </div>
  </div>
</div>